*{
    box-sizing: border-box;
    margin: 0;
}

.container_box1{
    width: 90%;
    height: auto;
    margin: auto;
}

.img_box1{
    width: 90%;
    padding: 0 !important;  
    margin: auto;
    background: #fff;
}

.img1{
    width: 100%;
}

.form_box1{
    width: 90%;
    height: 650px;
    margin: auto;
}

.form1{
    width: 70%;
    height: 80%;
    margin: auto;
}

@media screen and (max-width: 700px) {
    .form1{
        width: 90%;
    }

}

@media screen and (max-width: 400px) {
    .form1{
        width: 100%;
    }

}